.layout1{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: auto;
}

.container1{
    width:47%
}
.side-container{
    display: flex;
    justify-content: space-between;
    gap:15px;
    margin-top: 15px;
}
.conatiner2{
   width:52%;
   margin-top: 20px;
}


@media screen and (max-width : 786px) {
    .layout1{
        display: block;
    }
    .side-container{
        display: block;
        width:90%;

    }
    .conatiner2{
        width:'90%'
    }
    
    .content-container{
        flex-direction: column;
    }
}


.layout2{
    width: 100%;

}

.content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap:'20px'
}
