input{
    border: none;
    outline: none;
    padding: 5px;
    color: grey;
}



.footer{
    width: 100vh;
    height: 15px;
    background-color: blueviolet;
    text-align: center;
    padding: 5px;
}